/*reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;                                                                                                                     
}
/* /* 1. Làm từ ngoài vào trong
2. Làm từ trên xuống dưới
3. tổng quan đến chi tiết  
 */ 
/*
1. Vị Trí
2. Kích thước ( wight, height )
3. màu sắc
4. kiểu dáng ( kiểu chữ, hình tròn, vuông,.. )  */
/* COMMON*/

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.333%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.text-center {
    text-align: center !important;
}

#header {
    background-color: #000;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav,.subnav {
    list-style-type: none;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav li a {
    color: white;
    text-decoration: none;
    
}

#nav > li > a {
    text-transform: uppercase;
    line-height: 46px;
    padding: 0 24px;
}



#nav > li:hover > a, #nav .subnav li:hover a {
    background-color: #ccc;
    display: block;
    color: #000;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
}

#nav .subnav li {
    min-width: 160px;
    line-height: 38px;
    
}

#nav .subnav a {
    color: #000;
    width: 100%;
    padding-left: 12px;
}

#nav .btn-arrow-down {
    font-size: 12px;
}

#header .btn-search {
    display: inline-block;
    float: right;
}

#header .btn-search:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .btn-search-header {
    color: white;
    line-height: 46px;
    padding: 0 24px;
}
/* SLIDER */
#slider {
    padding-top: 50%;
    background-image: url('/assets/img/slider/slider1.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#slider .slider-content {
    color: white;
    position: absolute;
    bottom: 47px;
    text-align: center;
    width: 100%;
}

#slider .slider-content-region {
    font-weight: 400;
    font-size: 24px;
}

#slider .detail-slider-content-region {
    font-size: 15px;
    font-weight: 700;
    margin-top: 25px;
}

/* CONTENT */
#content {
    min-height: 1000px;
}

#content .content-section {
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 30px;
}

#content .section-subheading {
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    font-style: italic;
    opacity: .6;
}

#content .section-about {
    text-align: justify;
    line-height: 1.4;
    margin-top: 30px;
}
#content .member-list {
    margin-top: 48px;
    overflow: hidden;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    border-radius: 20px;
    margin-top:15px ;
}

#content .section-tourdates {
    background-color: #000;
}

.text-white {
    color: white !important;
}

#content .travel-months {
    background-color: white;
    margin-top: 25px;
    list-style: none;
    overflow: hidden;
}

#content .travel-months li {
    border-bottom: 1px solid rgb(117, 117, 117); 
    padding: 8px 16px;
    color: rgb(117, 117, 117);
    font-size: 15px;
}

#content .sold-out {
    background-color: #f44336;
    color: white;
    margin-left: 4px;
    font-size: 15px;
}

#content .quantity-tickets {
    float: right;
    background-color: #000;
    color: white;
    border-radius: 50%;
    padding: 4px 10px;
    text-align: center;
    margin-top: -4px;
    margin-right: 12px;
}

.place-list {
    margin-top: 32px;
    overflow: hidden;
}


.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: .6;
}

.place-content {
    background-color: white;
    padding-left: 16px;
}

.place-heading {
    font-size: 15px;
    font-weight: 700;
    padding-top: 15px;
}

.place-time {
    margin-top: 20px;
    color: rgb(117, 117, 117);
    font-weight: 400;
    font-size: 15px;
}

.dsc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
}

.place-buy-btn {
    font-size: 15px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    width: 108px;
    height: 38px;
    display: inline-block;
    background-color: #000;
    color: white;
    text-decoration: none;
    margin: 15px 0;
    border: none;
}

.place-buy-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/* MODAL */
.modal {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .4s;
   
}

.modal-header {
    height: 129px;
    background: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 12px;
    opacity: .8;
}

.modal-close:hover {
    background-color: #ccc;
    opacity: 1;
    cursor: pointer;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets-btn {
    background: #009688;
    border: none;
    color: white;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}

#buy-tickets-btn:hover {
    opacity: .8;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color:#2196F3 ;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-130px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.contact-form .form-submit-btn {
    font-size: 15px;
    color: white;
    background-color: #000;
    border: none;
    padding: 10px 16px;
    float: right;
}

.contact-form .form-submit-btn:hover {
    background-color: #ccc;
    cursor: pointer;
    color: #000;
}


.map-section img {
    width: 100%;
}

/*FOOTER*/
#footer {
    text-align: center;
    padding: 64px 16px;
}

#footer .socials-list {
    font-size: 24px;   
}

#footer .socials-list a {
    color: rgba(0, 0, 0, .6);
    text-decoration: none;
}

#footer .socials-list a:hover, #footer p a:hover {
    color: rgba(0, 0, 0, .4);
}


#footer p {
    font-size: 15px;
    margin-top: 15px;
    color: rgba(0, 0, 0, .6);
}

#footer p a {
    color: rgba(0, 0, 0, .6);
}








